// Colors
$textColor: white;
$textDarkColor: #182540;
$textDisabledColor: #acacac;
$textOpacityColor: hsla(0,0%,100%,.16);

$disableColor: hsla(0,0%,100%,.5);

$btnInfoColor: #182540; 
$btnInfoHoverColor: #1c2c4b; 

$navLinkColor: hsla(0,0%,100%,.5);

$backgroundDark: #182540;

// Transition
$transition: 0.5s;

